@media (min-width: 992px) {

  img {
      height: 15vh;
      width: 15vh;
    }

  .counter {
    font-size: 1rem;
  }

  #cards {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
  }

  #center {
      border-left: 1px solid #2e303a;
    border-right: 1px solid #2e303a;
  }

} 

@media (max-width: 768px){

  img {
      height: 10vh;
      width: 10vh;
    }

  .counter {
    font-size: .6rem;
  }

  #cards {
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr;
    flex: 3;
  }
}

.counter {
  padding: 5px 10px;
  border-radius: 5px;
  color: var(--accent);
  background: var(--accent-bg);
  margin: 10px;
}

#root {
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  flex: 1;
}

#center {
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  flex: 1;
  padding: 20px;

  .card {
    margin: 5px;
  }
}

#counters {
  flex: 1;
  display: flex;
  place-content: center;
  place-items: center;
}


